!!! 5
html
  .34&unescaped ampersand
  .-sdfios(test="&") unescaped chars: < > & 

  dot-multi-line.  
    with trailing whitespaces

  nested-tags: ending-in-colon:

  #{"tag" + "_iname"{} extra '{' in interpolated tag name

  p interpolated text #{ console.log(null); {} with extra '{'

  .some:tag after ':' without spaces

  :invalid-filter
    cant have special characters

  :
    empty filter name

  // comment
    comment
    // buffered comments inside buffered comments
      will cause a html error

  p some text
